/* #home-search-box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 250px;
  width: 50%;
  border-bottom: 1px solid black;

} */

html,
body {
  background: linear-gradient(135deg, rgb(39, 38, 38) 0%, rgb(39, 38, 38) 100%);
  height: 100%;
  margin: 0;
}

body {
  font: 13px monospace;
  color: black;
}

p {
  margin-top: 30px;
}

.cntr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr; /*auto min-content*/
  align-items: center;
}

.cntr footer {
  align-self: end;
}

form {
  display: contents;
}

.cntr .cntr-innr {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 16px;
  /* grid-template-rows: min-content auto; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.search {
  justify-self: center;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: text;
  height: 35px;
  width: 35px;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border-radius: 25px;
  transition: all 250ms ease;
}

.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  /* border-color: black; */
  background: rgb(255, 255, 255);
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 250ms ease;
}

.search.active,
.search:hover {
  width: 200px;
  margin-right: 0px;
}

.search.active:after,
.search:hover:after {
  height: 0px;
}

.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  background: transparent;
  outline-width: 0px;
}

.search input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
}

#logo {
  width: 250px;
  /* height: 25px; */
}

/* input:focus {
  outline: none;
}

input::placeholder {
  color: black;
  opacity: 0.5;
}


table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-radius:3px;
    box-shadow: 0 1px 2px #d1d1d1;
    display: block;
    max-width: 100%;
    overflow: auto;
  }

table th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
  text-align: left;
  padding-left: 20px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table td {
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
} */
