*{
    box-sizing: border-box;
}
p {
    font-size: 18px;
    font-family: sans-serif;
}

.content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center; 
}

.content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 200px 1fr;
    display: inline-flex;
    grid-column-gap: 20px;
    justify-content: center;
    text-align: center;
    width: 1200px;
}

.box{
    background:linear-gradient(135deg, rgb(39, 38, 38) 0%, rgb(39, 38, 38) 100%);
    color: white;
    border-radius: 16px;
    padding: 20px 60px;
}

.deladinho {
    text-align: left; 
    width: 100%;
    /* margin-left: 70px; */
}

.menuFoto{
    position: relative;
    /* padding-top: 5px; */
    border-radius: 50% 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.avatar {
    border-radius: 50% 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.dropdown {
    /* border-radius: 5px; */
    /* border-radius: 50% 50%; */
    padding-top: 5px;
    object-fit: cover;
    width: 50px;
    /* height: 50px; */
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* backdrop-filter: blur(2px); */
    background-color: rgb(65, 61, 61);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    border-radius: 2px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(39, 38, 38, 0.9);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    border-radius: 2px;
    display: block;
}



/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover {background-color: #3e8e41;} */

header {
    display: grid;
    width: 100%;
    min-width: 400px;
    padding: 0px;
    position: fixed;
    grid-template-columns: 15% 70% 15%;
    grid-column-gap: 4px;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    background-color: rgba(39, 38, 38, 0.9);
}
.logo {
    justify-self: center;
    width: 120px;
    /* height: 25px; */
}
.search{
    display: flex;
    margin: auto;
    height: 30px;
    width: 50%;
    /* grid-template-columns: min-content auto; */
    background: linear-gradient(135deg, rgb(65, 61, 61) 0%, rgb(65, 61, 61) 100%);
    border-radius: 3px;
    border: 1px solid rgb(65, 61, 61);
    /* align-items: center; */
}

.search input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.search input {
    /* text-align: center; */
    /* margin-top: 6px; */
    width: 100%;
    border: none;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background: transparent;
    outline-width: 0px;
}

.search:hover, .search.active {
    border-color: white;
}

html,
body {
  background: linear-gradient(135deg, rgb(65, 61, 61) 0%, rgb(65, 61, 61) 100%);
  height: 100%;
  margin: 0;
}

